<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>欢迎登录</title>
    <link th:href="@{/css/style_log.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userpanel.css}">

</head>

<body class="login" mycollectionplug="bind">
<div class="login_m">
    <div class="login_logo"><img th:src="@{/images/logo.png}" width="196" height="46"></div>
    <div class="login_boder">
        <form th:action="@{/api/login}" method="post">
            <div class="login_padding" id="login_model">

                <h2>USERNAME</h2>
                <label>
                    <input type="text" id="username" class="txt_input txt_input2" name="username" value="admin">
                </label>
                <h2>PASSWORD</h2>
                <label>
                    <input type="password" name="password" id="userpwd" class="txt_input" value="admin">
                </label>
                <input type="hidden" name="redirect_url" th:value="${redirect_url}"/>
                <input type="hidden" name="appCode" th:value="${appCode}"/>

                <p class="forgot"><a id="iforget" href="javascript:void(0);">Forgot your password?</a></p>
                <div class="rem_sub">
                    <div class="rem_sub_l">
                        <input type="checkbox" name="checkbox" id="save_me">
                        <label for="checkbox">Remember me</label>
                    </div>
                    <label>
                        <input type="submit" class="sub_button" name="button" id="button" value="SIGN-IN"
                               style="opacity: 0.7;">
                    </label>
                </div>
            </div>
        </form>
        <!--login_padding  Sign up end-->
    </div><!--login_boder end-->
</div><!--login_m end-->
</body>
</html>